#container {
  width: 100%;
}

#login-box {
  width: 50%;
  height: 50%;
  max-width: 750px;
  max-height: 400px;
  margin: 15% auto;
  box-sizing: border-box;
  background-color: #eaf6ff;
  border: #6899e2 1px solid;    
  padding: 25px;
  text-align: center;
}

#login-result {
  word-break: break-all; 
  font-size: 0.7em;
}
